/* 2 tipografias una para los titulos principales y links y otra para los demas textos  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Righteous&display=swap');


/* un roor para los colores de la página en formato hexadecimal */
:root {
    --color-primario: #1c1c1c;
    --color-secundario: #0f0f0f;
    --color-terciario: #fafafa;
    --color-acento: #ff2e27;
}

/* Defino la tipografia que se va a utiliziar */
* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

/* Estilos generales de la página */
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-secundario);
    color: var(--color-terciario);
}

.h1 {
    font-family: "Righteous", sans-serif;
    color: var(--color-terciario);
    font-size: 2.5rem;
    font-weight: 700;
}


.p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

ul li {
    list-style: none;
}


a {
    font-family: "Righteous", sans-serif;
    text-decoration: none;
    color: var(--color-terciario);
}

/* Para destacar con el color acento */
.importante {
    font-weight: bold;
    color: var(--color-acento);
}

/* Para dar un sombreado a los elementos */
.sombra {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* unimos header, main y footer para darles a todos el mismo estilo, para no repetir codigo */
.header,
.footer,
.main {
    padding: 1rem;
}

/* Cambiamos el fondo para el header y el footer */
.header,
.footer {
    background-color: var(--color-secundario);

}

/* Main */
.main {
    background-color: var(--color-primario);
}

/* Footer */
.footer {
    text-align: center;
}

/* Estilo para el nav */
/* le damos un fondo al logo del nav para distinguirlo*/
.logo {
    width: 100px;
    height: 100px;
    background-color: var(--color-terciario);
    border-radius: 1rem;
    text-align: center;
}

/* Tamaño del logo */
.logo img {
    width: 70%;
    height: 100%;
}

/* Clase para darle un fondo al formulario */
.formulario {
    background-color: var(--color-terciario);
    color: var(--color-secundario);
    padding: 2rem;
    border-radius: 1rem;
}

/* Estilo para los inputs redondeandolos */
.formulario .input {
    padding: 1rem;
    border-radius: 1.5rem;
    border: 1px solid var(--color-secundario);
}

.formulario .label,
.formulario .input {
    color: var(--color-secundario);
}

/* Le damos estilo un estilo distino al boton del formulario para dar contraste */
.boton {
    background-color: #a51b17;
    border: none;
    color: var(--color-terciario);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/* Cree un fondo para los productos que esten separados */
.card {
    width: 15rem;
    height: 20rem;
    margin: 1rem;
    text-align: center;
    padding: 1rem;
    background-color: var(--color-terciario);
    color: var(--color-secundario);
    border-radius: 0 1rem 1rem 1rem;
}


/* Le damos un tamaño a la imagen del producto */
.card img {
    width: 100%;
    height: 100%;
}